svg .svg-elem-1 {
  stroke-dashoffset: 531.072021484375px;
  stroke-dasharray: 531.072021484375px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    0s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}
svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
}
svg .svg-elem-2 {
  stroke-dashoffset: 944.9274291992188px;
  stroke-dasharray: 944.9274291992188px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.12s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}
svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
}
svg .svg-elem-3 {
  stroke-dashoffset: 178.1437225341797px;
  stroke-dasharray: 178.1437225341797px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.24s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}
svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
}
svg .svg-elem-4 {
  stroke-dashoffset: 351.0740966796875px;
  stroke-dasharray: 351.0740966796875px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.36s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
}
svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
}
svg .svg-elem-5 {
  stroke-dashoffset: 486.0005798339844px;
  stroke-dasharray: 486.0005798339844px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.48s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
}
svg.active .svg-elem-5 {
  stroke-dashoffset: 0;
}
svg .svg-elem-6 {
  stroke-dashoffset: 83.04969787597656px;
  stroke-dasharray: 83.04969787597656px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.6s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}
svg.active .svg-elem-6 {
  stroke-dashoffset: 0;
}
svg .svg-elem-7 {
  stroke-dashoffset: 806.4922485351562px;
  stroke-dasharray: 806.4922485351562px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.72s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s;
}
svg.active .svg-elem-7 {
  stroke-dashoffset: 0;
}
svg .svg-elem-8 {
  stroke-dashoffset: 18.066083908081055px;
  stroke-dasharray: 18.066083908081055px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.84s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s;
}
svg.active .svg-elem-8 {
  stroke-dashoffset: 0;
}
svg .svg-elem-9 {
  stroke-dashoffset: 604.311279296875px;
  stroke-dasharray: 604.311279296875px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.96s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s;
}
svg.active .svg-elem-9 {
  stroke-dashoffset: 0;
}
svg .svg-elem-10 {
  stroke-dashoffset: 719.9142456054688px;
  stroke-dasharray: 719.9142456054688px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.08s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
}
svg.active .svg-elem-10 {
  stroke-dashoffset: 0;
}
svg .svg-elem-11 {
  stroke-dashoffset: 97.16667938232422px;
  stroke-dasharray: 97.16667938232422px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.2s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
}
svg.active .svg-elem-11 {
  stroke-dashoffset: 0;
}
svg .svg-elem-12 {
  stroke-dashoffset: 56.100128173828125px;
  stroke-dasharray: 56.100128173828125px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.3199999999999998s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.3199999999999998s;
}
svg.active .svg-elem-12 {
  stroke-dashoffset: 0;
}
svg .svg-elem-13 {
  stroke-dashoffset: 39.5787467956543px;
  stroke-dasharray: 39.5787467956543px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.44s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s;
}
svg.active .svg-elem-13 {
  stroke-dashoffset: 0;
}
svg .svg-elem-14 {
  stroke-dashoffset: 34.34333038330078px;
  stroke-dasharray: 34.34333038330078px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.56s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s;
}
svg.active .svg-elem-14 {
  stroke-dashoffset: 0;
}
svg .svg-elem-15 {
  stroke-dashoffset: 83.49141693115234px;
  stroke-dasharray: 83.49141693115234px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.68s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s;
}
svg.active .svg-elem-15 {
  stroke-dashoffset: 0;
}
svg .svg-elem-16 {
  stroke-dashoffset: 16.68577003479004px;
  stroke-dasharray: 16.68577003479004px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.7999999999999998s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.7999999999999998s;
}
svg.active .svg-elem-16 {
  stroke-dashoffset: 0;
}
svg .svg-elem-17 {
  stroke-dashoffset: 102.09907531738281px;
  stroke-dasharray: 102.09907531738281px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.92s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s;
}
svg.active .svg-elem-17 {
  stroke-dashoffset: 0;
}
svg .svg-elem-18 {
  stroke-dashoffset: 54.74741744995117px;
  stroke-dasharray: 54.74741744995117px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.04s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s;
}
svg.active .svg-elem-18 {
  stroke-dashoffset: 0;
}
svg .svg-elem-19 {
  stroke-dashoffset: 115.12017059326172px;
  stroke-dasharray: 115.12017059326172px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.16s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s;
}
svg.active .svg-elem-19 {
  stroke-dashoffset: 0;
}
svg .svg-elem-20 {
  stroke-dashoffset: 79.97533416748047px;
  stroke-dasharray: 79.97533416748047px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.28s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s;
}
svg.active .svg-elem-20 {
  stroke-dashoffset: 0;
}
svg .svg-elem-21 {
  stroke-dashoffset: 460.6554870605469px;
  stroke-dasharray: 460.6554870605469px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.4s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
}
svg.active .svg-elem-21 {
  stroke-dashoffset: 0;
}
svg .svg-elem-22 {
  stroke-dashoffset: 70.336181640625px;
  stroke-dasharray: 70.336181640625px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.52s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s;
}
svg.active .svg-elem-22 {
  stroke-dashoffset: 0;
}
svg .svg-elem-23 {
  stroke-dashoffset: 46.38282775878906px;
  stroke-dasharray: 46.38282775878906px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.6399999999999997s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.6399999999999997s;
}
svg.active .svg-elem-23 {
  stroke-dashoffset: 0;
}
svg .svg-elem-24 {
  stroke-dashoffset: 40.88431167602539px;
  stroke-dasharray: 40.88431167602539px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.76s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s;
}
svg.active .svg-elem-24 {
  stroke-dashoffset: 0;
}
svg .svg-elem-25 {
  stroke-dashoffset: 24.235483169555664px;
  stroke-dasharray: 24.235483169555664px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.88s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s;
}
svg.active .svg-elem-25 {
  stroke-dashoffset: 0;
}
svg .svg-elem-26 {
  stroke-dashoffset: 54.109397888183594px;
  stroke-dasharray: 54.109397888183594px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
}
svg.active .svg-elem-26 {
  stroke-dashoffset: 0;
}
svg .svg-elem-27 {
  stroke-dashoffset: 67.57373809814453px;
  stroke-dasharray: 67.57373809814453px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.12s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s;
}
svg.active .svg-elem-27 {
  stroke-dashoffset: 0;
}
svg .svg-elem-28 {
  stroke-dashoffset: 191.4276885986328px;
  stroke-dasharray: 191.4276885986328px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.2399999999999998s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.2399999999999998s;
}
svg.active .svg-elem-28 {
  stroke-dashoffset: 0;
}
svg .svg-elem-29 {
  stroke-dashoffset: 697.8065795898438px;
  stroke-dasharray: 697.8065795898438px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.36s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s;
}
svg.active .svg-elem-29 {
  stroke-dashoffset: 0;
}
svg .svg-elem-30 {
  stroke-dashoffset: 50.51757049560547px;
  stroke-dasharray: 50.51757049560547px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.48s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s;
}
svg.active .svg-elem-30 {
  stroke-dashoffset: 0;
}
svg .svg-elem-31 {
  stroke-dashoffset: 39.94544219970703px;
  stroke-dasharray: 39.94544219970703px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.5999999999999996s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.5999999999999996s;
}
svg.active .svg-elem-31 {
  stroke-dashoffset: 0;
}
svg .svg-elem-32 {
  stroke-dashoffset: 59.952735900878906px;
  stroke-dasharray: 59.952735900878906px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.7199999999999998s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.7199999999999998s;
}
svg.active .svg-elem-32 {
  stroke-dashoffset: 0;
}
svg .svg-elem-33 {
  stroke-dashoffset: 47.2191276550293px;
  stroke-dasharray: 47.2191276550293px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.84s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 3.84s;
}
svg.active .svg-elem-33 {
  stroke-dashoffset: 0;
}
svg .svg-elem-34 {
  stroke-dashoffset: 27.30659294128418px;
  stroke-dasharray: 27.30659294128418px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    3.96s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 3.96s;
}
svg.active .svg-elem-34 {
  stroke-dashoffset: 0;
}
svg .svg-elem-35 {
  stroke-dashoffset: 34.46468734741211px;
  stroke-dasharray: 34.46468734741211px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    4.08s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 4.08s;
}
svg.active .svg-elem-35 {
  stroke-dashoffset: 0;
}
svg .svg-elem-36 {
  stroke-dashoffset: 418.4266357421875px;
  stroke-dasharray: 418.4266357421875px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    4.2s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s;
}
svg.active .svg-elem-36 {
  stroke-dashoffset: 0;
}
svg .svg-elem-37 {
  stroke-dashoffset: 399.1331787109375px;
  stroke-dasharray: 399.1331787109375px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    4.32s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 4.32s;
}
svg.active .svg-elem-37 {
  stroke-dashoffset: 0;
}
svg .svg-elem-38 {
  stroke-dashoffset: 202.3746337890625px;
  stroke-dasharray: 202.3746337890625px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    4.4399999999999995s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    4.4399999999999995s;
}
svg.active .svg-elem-38 {
  stroke-dashoffset: 0;
}
svg .svg-elem-39 {
  stroke-dashoffset: 50.317108154296875px;
  stroke-dasharray: 50.317108154296875px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    4.56s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 4.56s;
}
svg.active .svg-elem-39 {
  stroke-dashoffset: 0;
}
svg .svg-elem-40 {
  stroke-dashoffset: 152.20631408691406px;
  stroke-dasharray: 152.20631408691406px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    4.68s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 4.68s;
}
svg.active .svg-elem-40 {
  stroke-dashoffset: 0;
}
svg .svg-elem-41 {
  stroke-dashoffset: 60.64619827270508px;
  stroke-dasharray: 60.64619827270508px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    4.8s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 4.8s;
}
svg.active .svg-elem-41 {
  stroke-dashoffset: 0;
}
svg .svg-elem-42 {
  stroke-dashoffset: 64.2284164428711px;
  stroke-dasharray: 64.2284164428711px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    4.92s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 4.92s;
}
svg.active .svg-elem-42 {
  stroke-dashoffset: 0;
}
svg .svg-elem-43 {
  stroke-dashoffset: 268.1488342285156px;
  stroke-dasharray: 268.1488342285156px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.04s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 5.04s;
}
svg.active .svg-elem-43 {
  stroke-dashoffset: 0;
}
svg .svg-elem-44 {
  stroke-dashoffset: 38.15374755859375px;
  stroke-dasharray: 38.15374755859375px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.16s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 5.16s;
}
svg.active .svg-elem-44 {
  stroke-dashoffset: 0;
}
svg .svg-elem-45 {
  stroke-dashoffset: 55.2841682434082px;
  stroke-dasharray: 55.2841682434082px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.279999999999999s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.279999999999999s;
}
svg.active .svg-elem-45 {
  stroke-dashoffset: 0;
}
svg .svg-elem-46 {
  stroke-dashoffset: 178.28721618652344px;
  stroke-dasharray: 178.28721618652344px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.3999999999999995s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.3999999999999995s;
}
svg.active .svg-elem-46 {
  stroke-dashoffset: 0;
}
svg .svg-elem-47 {
  stroke-dashoffset: 19.857555389404297px;
  stroke-dasharray: 19.857555389404297px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.52s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 5.52s;
}
svg.active .svg-elem-47 {
  stroke-dashoffset: 0;
}
svg .svg-elem-48 {
  stroke-dashoffset: 41.94038772583008px;
  stroke-dasharray: 41.94038772583008px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.64s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 5.64s;
}
svg.active .svg-elem-48 {
  stroke-dashoffset: 0;
}
svg .svg-elem-49 {
  stroke-dashoffset: 528.5501098632812px;
  stroke-dasharray: 528.5501098632812px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.76s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 5.76s;
}
svg.active .svg-elem-49 {
  stroke-dashoffset: 0;
}
svg .svg-elem-50 {
  stroke-dashoffset: 123.17976379394531px;
  stroke-dasharray: 123.17976379394531px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    5.88s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 5.88s;
}
svg.active .svg-elem-50 {
  stroke-dashoffset: 0;
}
svg .svg-elem-51 {
  stroke-dashoffset: 563.755615234375px;
  stroke-dasharray: 563.755615234375px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 6s;
}
svg.active .svg-elem-51 {
  stroke-dashoffset: 0;
}
svg .svg-elem-52 {
  stroke-dashoffset: 25.794635772705078px;
  stroke-dasharray: 25.794635772705078px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.12s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 6.12s;
}
svg.active .svg-elem-52 {
  stroke-dashoffset: 0;
}
svg .svg-elem-53 {
  stroke-dashoffset: 68.14192199707031px;
  stroke-dasharray: 68.14192199707031px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.24s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 6.24s;
}
svg.active .svg-elem-53 {
  stroke-dashoffset: 0;
}
svg .svg-elem-54 {
  stroke-dashoffset: 18.459693908691406px;
  stroke-dasharray: 18.459693908691406px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.359999999999999s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.359999999999999s;
}
svg.active .svg-elem-54 {
  stroke-dashoffset: 0;
}
svg .svg-elem-55 {
  stroke-dashoffset: 97.35325622558594px;
  stroke-dasharray: 97.35325622558594px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.4799999999999995s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.4799999999999995s;
}
svg.active .svg-elem-55 {
  stroke-dashoffset: 0;
}
svg .svg-elem-56 {
  stroke-dashoffset: 127.96224975585938px;
  stroke-dasharray: 127.96224975585938px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.6s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 6.6s;
}
svg.active .svg-elem-56 {
  stroke-dashoffset: 0;
}
svg .svg-elem-57 {
  stroke-dashoffset: 29.55229949951172px;
  stroke-dasharray: 29.55229949951172px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.72s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 6.72s;
}
svg.active .svg-elem-57 {
  stroke-dashoffset: 0;
}
svg .svg-elem-58 {
  stroke-dashoffset: 33.4099235534668px;
  stroke-dasharray: 33.4099235534668px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.84s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 6.84s;
}
svg.active .svg-elem-58 {
  stroke-dashoffset: 0;
}
svg .svg-elem-59 {
  stroke-dashoffset: 22.896774291992188px;
  stroke-dasharray: 22.896774291992188px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    6.96s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 6.96s;
}
svg.active .svg-elem-59 {
  stroke-dashoffset: 0;
}
svg .svg-elem-60 {
  stroke-dashoffset: 201.7847900390625px;
  stroke-dasharray: 201.7847900390625px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.08s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 7.08s;
}
svg.active .svg-elem-60 {
  stroke-dashoffset: 0;
}
svg .svg-elem-61 {
  stroke-dashoffset: 176.67898559570312px;
  stroke-dasharray: 176.67898559570312px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.199999999999999s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.199999999999999s;
}
svg.active .svg-elem-61 {
  stroke-dashoffset: 0;
}
svg .svg-elem-62 {
  stroke-dashoffset: 134.12130737304688px;
  stroke-dasharray: 134.12130737304688px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.319999999999999s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.319999999999999s;
}
svg.active .svg-elem-62 {
  stroke-dashoffset: 0;
}
svg .svg-elem-63 {
  stroke-dashoffset: 195.80075073242188px;
  stroke-dasharray: 195.80075073242188px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.4399999999999995s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.4399999999999995s;
}
svg.active .svg-elem-63 {
  stroke-dashoffset: 0;
}
svg .svg-elem-64 {
  stroke-dashoffset: 92.7685546875px;
  stroke-dasharray: 92.7685546875px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.56s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 7.56s;
}
svg.active .svg-elem-64 {
  stroke-dashoffset: 0;
}
svg .svg-elem-65 {
  stroke-dashoffset: 77.92251586914062px;
  stroke-dasharray: 77.92251586914062px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.68s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 7.68s;
}
svg.active .svg-elem-65 {
  stroke-dashoffset: 0;
}
svg .svg-elem-66 {
  stroke-dashoffset: 41.286155700683594px;
  stroke-dasharray: 41.286155700683594px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.8s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 7.8s;
}
svg.active .svg-elem-66 {
  stroke-dashoffset: 0;
}
svg .svg-elem-67 {
  stroke-dashoffset: 55.5019645690918px;
  stroke-dasharray: 55.5019645690918px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    7.92s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 7.92s;
}
svg.active .svg-elem-67 {
  stroke-dashoffset: 0;
}
svg .svg-elem-68 {
  stroke-dashoffset: 6.245719909667969px;
  stroke-dasharray: 6.245719909667969px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    8.04s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 8.04s;
}
svg.active .svg-elem-68 {
  stroke-dashoffset: 0;
}
svg .svg-elem-69 {
  stroke-dashoffset: 421.16241455078125px;
  stroke-dasharray: 421.16241455078125px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    8.16s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 8.16s;
}
svg.active .svg-elem-69 {
  stroke-dashoffset: 0;
}
svg .svg-elem-70 {
  stroke-dashoffset: 637.2203369140625px;
  stroke-dasharray: 637.2203369140625px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    8.28s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 8.28s;
}
svg.active .svg-elem-70 {
  stroke-dashoffset: 0;
}
svg .svg-elem-71 {
  stroke-dashoffset: 1094.9464111328125px;
  stroke-dasharray: 1094.9464111328125px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    8.4s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 8.4s;
}
svg.active .svg-elem-71 {
  stroke-dashoffset: 0;
}
svg .svg-elem-72 {
  stroke-dashoffset: 452.4520568847656px;
  stroke-dasharray: 452.4520568847656px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    8.52s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 8.52s;
}
svg.active .svg-elem-72 {
  stroke-dashoffset: 0;
}
svg .svg-elem-73 {
  stroke-dashoffset: 102.45660400390625px;
  stroke-dasharray: 102.45660400390625px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    8.64s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 8.64s;
}
svg.active .svg-elem-73 {
  stroke-dashoffset: 0;
}
svg .svg-elem-74 {
  stroke-dashoffset: 137.2154083251953px;
  stroke-dasharray: 137.2154083251953px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    8.76s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 8.76s;
}
svg.active .svg-elem-74 {
  stroke-dashoffset: 0;
}
svg .svg-elem-75 {
  stroke-dashoffset: 2px;
  stroke-dasharray: 2px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    8.879999999999999s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    8.879999999999999s;
}
svg.active .svg-elem-75 {
  stroke-dashoffset: 0;
}
svg .svg-elem-76 {
  stroke-dashoffset: 28.125268936157227px;
  stroke-dasharray: 28.125268936157227px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 9s;
}
svg.active .svg-elem-76 {
  stroke-dashoffset: 0;
}
svg .svg-elem-77 {
  stroke-dashoffset: 28.26817512512207px;
  stroke-dasharray: 28.26817512512207px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.12s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 9.12s;
}
svg.active .svg-elem-77 {
  stroke-dashoffset: 0;
}
svg .svg-elem-78 {
  stroke-dashoffset: 153.83981323242188px;
  stroke-dasharray: 153.83981323242188px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.24s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 9.24s;
}
svg.active .svg-elem-78 {
  stroke-dashoffset: 0;
}
svg .svg-elem-79 {
  stroke-dashoffset: 285.21923828125px;
  stroke-dasharray: 285.21923828125px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.36s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 9.36s;
}
svg.active .svg-elem-79 {
  stroke-dashoffset: 0;
}
svg .svg-elem-80 {
  stroke-dashoffset: 123.42213439941406px;
  stroke-dasharray: 123.42213439941406px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.48s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 9.48s;
}
svg.active .svg-elem-80 {
  stroke-dashoffset: 0;
}
svg .svg-elem-81 {
  stroke-dashoffset: 6.332878112792969px;
  stroke-dasharray: 6.332878112792969px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.6s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 9.6s;
}
svg.active .svg-elem-81 {
  stroke-dashoffset: 0;
}
svg .svg-elem-82 {
  stroke-dashoffset: 370.6483154296875px;
  stroke-dasharray: 370.6483154296875px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.719999999999999s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.719999999999999s;
}
svg.active .svg-elem-82 {
  stroke-dashoffset: 0;
}
svg .svg-elem-83 {
  stroke-dashoffset: 125.50668334960938px;
  stroke-dasharray: 125.50668334960938px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.84s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 9.84s;
}
svg.active .svg-elem-83 {
  stroke-dashoffset: 0;
}
svg .svg-elem-84 {
  stroke-dashoffset: 124.63668060302734px;
  stroke-dasharray: 124.63668060302734px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.959999999999999s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    9.959999999999999s;
}
svg.active .svg-elem-84 {
  stroke-dashoffset: 0;
}
svg .svg-elem-85 {
  stroke-dashoffset: 51.98660659790039px;
  stroke-dasharray: 51.98660659790039px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.08s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 10.08s;
}
svg.active .svg-elem-85 {
  stroke-dashoffset: 0;
}
svg .svg-elem-86 {
  stroke-dashoffset: 99.02397918701172px;
  stroke-dasharray: 99.02397918701172px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.2s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 10.2s;
}
svg.active .svg-elem-86 {
  stroke-dashoffset: 0;
}
svg .svg-elem-87 {
  stroke-dashoffset: 94.3788833618164px;
  stroke-dasharray: 94.3788833618164px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.32s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 10.32s;
}
svg.active .svg-elem-87 {
  stroke-dashoffset: 0;
}
svg .svg-elem-88 {
  stroke-dashoffset: 33.3359260559082px;
  stroke-dasharray: 33.3359260559082px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.44s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 10.44s;
}
svg.active .svg-elem-88 {
  stroke-dashoffset: 0;
}
svg .svg-elem-89 {
  stroke-dashoffset: 262.6865234375px;
  stroke-dasharray: 262.6865234375px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.559999999999999s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.559999999999999s;
}
svg.active .svg-elem-89 {
  stroke-dashoffset: 0;
}
svg .svg-elem-90 {
  stroke-dashoffset: 370.8096923828125px;
  stroke-dasharray: 370.8096923828125px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.68s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 10.68s;
}
svg.active .svg-elem-90 {
  stroke-dashoffset: 0;
}
svg .svg-elem-91 {
  stroke-dashoffset: 112.64498138427734px;
  stroke-dasharray: 112.64498138427734px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.799999999999999s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.799999999999999s;
}
svg.active .svg-elem-91 {
  stroke-dashoffset: 0;
}
svg .svg-elem-92 {
  stroke-dashoffset: 111.59370422363281px;
  stroke-dasharray: 111.59370422363281px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    10.92s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 10.92s;
}
svg.active .svg-elem-92 {
  stroke-dashoffset: 0;
}
svg .svg-elem-93 {
  stroke-dashoffset: 35.502281188964844px;
  stroke-dasharray: 35.502281188964844px;
  -webkit-transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715)
    11.04s;
  transition: stroke-dashoffset 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 11.04s;
}
svg.active .svg-elem-93 {
  stroke-dashoffset: 0;
}
