.ImageContainer {
  width: 100%;
  height: 55vh;
  position: relative;
}

.ImageContainer div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg .st0 {
  --length: 0;
  --dash-array: 0;
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--dash-array);
  animation: animate-dash 3s linear alternate infinite;
}

@keyframes animate-dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.movableitemContainer {
  width: 10vw;
  grid-area: 1/1 / span 1 / span 1;
  order: -1;
  align-self: flex-start;
}

.movableitemContainer svg {
  z-index: 10000;
}
.NOTmovableitemContainer {
  width: 100%;
  height: 100%;
}

.dropzone {
  width: 10vw;
  transition: filter 0.3s, opacity 0.3s;
  opacity: 0;
  height: fit-content;
  align-self: center;
}

.dropzone[data-moving="hovering"] {
  opacity: 0.6;
  filter: drop-shadow(1px 1px 3px darkgrey);
}

.dropzone[data-moving="activeMoving"] {
  opacity: 0.2;
  border: 1px dashed grey;
  filter: drop-shadow(1px 1px 3px darkgrey);
}

.dropzone[data-moving="dropped"] {
  opacity: 0;
  display: none;
}

.StoryContainer {
  display: flex;
  justify-content: center;
}

.Story {
  width: 60vw;
  grid-gap: 1vw;
}
