#lamp_lid[data-lifted="true"] {
  animation: liftTheLid 0.3s 0.5s ease-in-out 1;
  transform-origin: bottom;
}

@keyframes liftTheLid {
  100% {
    transform: translateY(-10vw);
  }
}

#light {
  display: none;
}

.ImageContainer[data-chapter="lvl2-p2"] {
  --width: 100px;
}

.ImageContainer[data-chapter="lvl2-p2"] .movableitemContainer {
  animation: transformLvl2 0.5s ease-in-out forwards 1;
}

@keyframes transformLvl2 {
  100% {
    transform: translate(-200px, -200px);
  }
}

.ImageContainer[data-chapter="lvl2-p2"] .NOTmovableitemContainer {
  animation: transformLvl2Lamp 0.5s ease-in-out forwards 1;
}

@keyframes transformLvl2Lamp {
  100% {
    transform: translateY(100px);
  }
}

.ImageContainer[data-chapter="lvl2-p2"] .dropzone {
  transform: translate(-100px, 450px);
}

.ImageContainer[data-chapter="lvl2-p2"] .dropzone svg {
  width: var(----width);
  x: calc(15vw - 100px);
}

.ImageContainer[data-chapter="lvl2-p2"] .NOTmovableitemContainer svg {
  width: var(----width);
}

.ImageContainer[data-chapter="lvl2-p2"] .movableitemContainer svg {
  width: var(----width);
}

.fill {
  animation-name: fillAction;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
#waveShape {
  animation-name: waveAction;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  width: 300px;
  height: 150px;
  fill: #04acff;
}
@keyframes fillAction {
  0% {
    transform: translate(0, 150px);
  }
  100% {
    transform: translate(0, -5px);
  }
}
@keyframes waveAction {
  0% {
    transform: translate(-150px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
