* {
  /* vector-effect: non-scaling-stroke; */
}

svg:root {
  overflow: visible !important;
}

#lamp_lid[data-lifted="true"] {
  animation: liftTheLid 0.3s 0.5s ease-in-out 1;
  transform-origin: bottom;
}

@keyframes liftTheLid {
  100% {
    transform: translateY(-10vw);
  }
}

#light {
  opacity: 0;
}

.ImageContainer[data-chapter="lvl2-p2"],
.ImageContainer[data-chapter="lvl2-p3"] {
  --width: 100px;
}

.ImageContainer[data-chapter="lvl2-p2"] .movableitemContainer {
  animation: transformLvl2 0.5s ease-in-out forwards 1;
  z-index: 11111;
}

@keyframes transformLvl2 {
  100% {
    transform: translate(-200px, -200px);
  }
}

.ImageContainer[data-chapter="lvl2-p3"] .movableitemContainer {
  transform: translate(-200px, -200px);
}

.ImageContainer[data-chapter="lvl2-p2"] .NOTmovableitemContainer {
  animation: transformLvl2Lamp 0.5s ease-in-out forwards 1;
}

.ImageContainer[data-chapter="lvl2-p3"] .NOTmovableitemContainer {
  transform: translateY(100px);
}

@keyframes transformLvl2Lamp {
  100% {
    transform: translateY(100px);
  }
}

.ImageContainer[data-chapter="lvl2-p2"] .dropzone,
.ImageContainer[data-chapter="lvl2-p3"] .dropzone {
  transform: translate(-37px, 262px);
}

.ImageContainer[data-chapter="lvl2-p2"] .dropzone svg,
.ImageContainer[data-chapter="lvl2-p3"] svg {
  width: var(----width);
  x: calc(15vw - 100px);
}

.ImageContainer[data-chapter="lvl2-p2"] .NOTmovableitemContainer svg,
.ImageContainer[data-chapter="lvl2-p3"] svg {
  width: var(----width);
}

.ImageContainer[data-chapter="lvl2-p2"] .movableitemContainer svg,
.ImageContainer[data-chapter="lvl2-p3"] svg {
  width: var(----width);
}

#ShiftedLiquid,
#pouringLiquid2,
#pouringliquidOne,
#startingPoint,
#lightStrokeLarge {
  opacity: 0;
}

#pouringliquidOne[data-show="true"],
#startingPoint[data-show="true"],
#light[data-show="true"] {
  opacity: 1;
}

.firedot {
  fill: white;
  animation: blinking 0.5s linear alternate infinite;
}

@keyframes blinking {
  0% {
    fill: white;
    stroke-width: 8;
  }
  100% {
    fill: black;
    stroke-width: 0;
  }
}
